@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

* {
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow: 0px 2px 3px #555;
}

body {
	background: #3498db;
	color: #ecf0f1;
}

h1.logo {
	font-size: 64px;
	text-align: center;
	margin-top: 60px;
}

h2.logo {
	font-size: 32px;
	text-align: center;
	margin-bottom: 60px;
}

a, a:visited {
	text-decoration: none;
	color: #ecf0f1;
	border: 2px solid #ecf0f1;
	border-radius: 4px;
	padding: 4px 8px;
	margin: 4px;
}

a:hover {
	opacity: 0.8;
}

a:active {
	opacity: 0.6;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#logInForm, #signUpForm {
	display: none;
	margin-bottom: 20px;
}

#logInForm input, #signUpForm input {
}