@(userForm: Form[User])

@import helper._

@main("Bluelight") {
	<h1 class="logo">Bluelight</h1>
	<h2 class="logo">A Calendar Made for People</h2>
	
	<div class="center" id="welcomeButtonContainer">
	    @form(routes.Users.authenticateUser(), 'id -> "logInForm") {
			@inputText(userForm("emailAddress"),
				'_showConstraints -> false,
    			'_label -> "Email: ")
			@inputPassword(userForm("passwordHash"),
				'_showConstraints -> false,
    			'_label -> "Password: ")
	        <input type="submit" value="Log In">
	    }
		
	    @form(routes.Users.newUser(), 'id -> "signUpForm") {
			@inputText(userForm("name"),
				'_showConstraints -> false,
    			'_label -> "Name: ")
			@inputText(userForm("emailAddress"),
				'_showConstraints -> false,
    			'_label -> "Email: ")
			@inputPassword(userForm("passwordHash"),
				'_showConstraints -> false,
    			'_label -> "Password: ")
	        <input type="submit" value="Sign Up">
	    }
		
		<a id="logInButton" href="javascript:void(0)">Log In</a>
		<a id="signUpButton" href="javascript:void(0)">Sign Up</a>
	</div>
}
